@model QuestionViewModel

@*@{
    ViewData["Title"] = "Home";
}*@

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Frågeformulär</title>


</head>

@*TODO: Fixa navbar för index.cshtml*@

<div>
    <div class="mx-0 mx-sm-auto">
        <div class="card">
            <div class="card-header bg-primary">
                <h5 class="card-title text-white mt-2" id="exampleModalLabel">Survey</h5>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                {

                    <p class="text-center"><strong>Är du i Sverige?:</strong></p>
                    <div class="d-flex flex-column justify-content-center">
                        <div class="d-flex gap-4 justify-content-center">


                            <div class="form-check mb-2">
                                <input type="radio" asp-for="IsInSweden" value="true" class="formRadioYes" />
                                <label class="form-check-label" for="formRadioYes">
                                    Ja
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input type="radio" asp-for="IsInSweden" value="true" class="formRadioNo" />
                                <label class="form-check-label" for="formRadioNo">
                                    Nej
                                </label>
                            </div>
                        </div>
                        <span asp-validation-for="IsInSweden" class="text-danger text-center font-weight-bold"></span>

                    </div>


                    <p class="text-center"><strong>Beskriv en god dag?</strong></p>

                    <!-- Message input -->
                    <div class="row d-flex justify-content-center">
                        <textarea class="form-control w-50" asp-for="GoodDayDescription" id="formTextBox" rows="4"></textarea>

                        <span asp-validation-for="GoodDayDescription" class="text-danger text-center font-weight-bold"></span>
                    </div>
                    <p class="text-center"><strong>Favouritglass?</strong></p>
                    <div class="d-flex justify-content-center gap-4">

                        @for (int i = 0; i < Model.CheckBoxes.Count; i++)
                        {
                            <label class="">
                                <input type="checkbox" asp-for="@Model.CheckBoxes[i].IsChecked" class="form-checkbox" />
                                <span class="ml-2">@Model.CheckBoxes[i].Title</span>
                            </label>
                            <input type="hidden" asp-for="@Model.CheckBoxes[i].Title" />
                            <input type="hidden" asp-for="@Model.CheckBoxes[i].Id" />
                        }
                    </div>

                    <div class="card-footer text-end mt-4">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
